{% extends 'testmain.html' %}

{%block content%}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Posts</h1>
            <span class="color-text-a">Grid News</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                News Grid
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->
  
    <div>
        <h2>{{ listing.title }}</h2>
        <p>{{ listing.type }}</p>
        <p>{{ listing.town }}</p>
        <p>{{ listing.monthly_cost }}</p>
        <p>{{ listing.extras }}</p>

        {% if listing.image %}
            <img src="{{ listing.image.url }}" alt="{{ listing.title }}" />
        {% endif %}
    </div>
    

{% endblock %}